<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.qinfengge.rsscode.mapper.Aria2Mapper">

    <resultMap id="BaseResultMap" type="xyz.qinfengge.rsscode.entity.Aria2">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="host" column="host" jdbcType="VARCHAR"/>
            <result property="port" column="port" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="auth" column="auth" jdbcType="VARCHAR"/>
            <result property="maxTask" column="max_task" jdbcType="INTEGER"/>
            <result property="isDefault" column="is_default" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,host,
        port,path,auth,
        max_task,is_default
    </sql>
</mapper>
